/* RESET */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  min-height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: currentColor;
}
/* /RESET */
/* UTILITAIRE */
.inverted {
  filter: invert(1);
}
body,
.coloredBG {
  background: linear-gradient(-45deg, #6e3625, #581730, #0e4357, #0f5847);
  background-size: 400% 400%;
  animation: bgAnimation 10s ease-in-out infinite alternate;
}
/* /UTILITAIRE */
/* GENERIQUE */
::selection {
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
}
body {
  font-family: sans-serif;
  color: white;
  margin: 50px 70px;
  transition: margin 0.3s;
}
@media screen and (max-width: 700px) {
  body {
    margin: 50px 20px;
  }
}
@keyframes bgAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

h1 {
  position: relative;
  width: fit-content;
  margin-bottom: 50px;
  transform: translateX(-30px);
}
@media screen and (max-width: 700px) {
  h1 {
    transform: none;
  }
}
h1::before {
  --left: 10%;
  content: "";
  position: absolute;
  left: var(--left);
  bottom: -10%;

  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 80%;

  z-index: -1;
  pointer-events: none;
  user-select: none;

  transition: width 0.3s, height 0.3s, background-color 0.3s, border-radius 0.3s;
}
h1:hover::before {
  --width: 35px;
  /* Kirby ?? */
  background-color: #fcb8cd;
  border-radius: 50%;
  width: var(--width);
  height: var(--width);
  animation: bounceH1 1.5s ease 0.3s infinite normal forwards,
    slideH1 2s linear 0.3s infinite alternate;

  bottom: 0%;
}
@keyframes bounceH1 {
  10% {
    transform: scale(1.1, 0.9);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-100%);
  }
  57% {
    transform: translateY(-7%);
  }
}
@keyframes slideH1 {
  0% {
    left: var(--left);
  }
  100% {
    left: calc((100% - var(--left)) - var(--width));
  }
}

h2 {
  margin-bottom: 20px;
}
h2::before,
h2::after {
  font-size: 15px;
}
h2::before {
  content: "{ ";
}
h2::after {
  content: " }";
}

p {
  text-align: justify;
}

img {
  user-select: none;
}

section:not(:last-of-type) {
  --marge: 200px;
  --epaisseur: 2px;
  position: relative;
  margin-bottom: max(5%, var(--marge));
}
section:not(:last-of-type)::before,
section:not(:last-of-type)::after {
  content: "";
}
section::before,
section::after {
  position: absolute;
  left: 50%;
  bottom: calc(-0.5 * var(--marge));
  opacity: 50%;
}

section::before {
  transform: translateX(-50%);

  width: min(70%, 250px);
  height: var(--epaisseur);

  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
section::after {
  transform: translate(-50%, calc(50% - var(--epaisseur) / 2));

  width: 15px;
  aspect-ratio: 1/1;
  border: var(--epaisseur) dotted white;
  border-radius: 50%;
}

#menu {
  margin-bottom: 50px;
}
#menuOpener {
  display: none;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 5px 20px;
  cursor: pointer;
}
#menuOpener.menuOpenerResponsive_opened {
  border-radius: 5px 5px 0 0;
}
#menuList {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;

  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  font-weight: bold;
  font-size: 18px;
  padding: 30px;
  border-radius: 10px;

  transition: display 0.3s;
}
#menuList.menuListResponsive_opened {
  display: flex;
}
.menuItem {
  transition: all 0.3s;
  display: block;
}
.menuItem:hover {
  transform: scale(1.1);
  color: white;
}
.menuItem.active {
  text-decoration: underline;
}

@media screen and (max-width: 700px) {
  #menuOpener {
    display: block;
  }
  #menuList {
    display: none;
    flex-direction: column;
    border-radius: 0px 10px 10px 10px;
  }
  .menuItem {
    margin: 10px 0;
  }
}

p > img.icone {
  float: left;
  max-width: 35px;
  margin-right: 5px;
}

/* /GENERIQUE */

/* SPECIFIQUE */
/* page cursus */
.sectionContent {
  display: flex;
  gap: max(10%, 25px);
  margin-bottom: max(5%, 20px);
}
.sectionContent > * {
  align-self: flex-start;
}
.sectionContent > *:first-child {
  flex: 0 1 70%;
}
.sectionContent > *:last-child {
  flex: 0 1 30%;
}
#secDUT .sectionContent > *:first-child {
  flex: 0 1 40%;
}
#secDUT .sectionContent > *:last-child {
  flex: 0 1 60%;
}
@media screen and (max-width: 1200px) {
  #secLP .sectionContent {
    flex-direction: column;
  }
}
@media screen and (max-width: 900px) {
  #secDUT .sectionContent {
    flex-direction: column;
  }
}
@media screen and (max-width: 600px) {
  #secSTI2D .sectionContent {
    flex-direction: column;
  }
}
#secLP .sectionContent > *:first-child {
  flex: 0 1 25%;
}
#secLP .sectionContent > *:nth-child(2) {
  flex: 0 1 25%;
}
#secLP .sectionContent > *:last-child {
  flex: 0 1 50%;
}
#imgBakalorea,
#imgDeute,
#imgailpe {
  width: 100%;
}
#imgailpe {
  max-width: 500px;
  margin: auto;
  margin-top: 0;
}
/* page exppérience pro */
#expproList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
@media screen and (max-width: 1400px) {
  #expproList {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 1000px) {
  #expproList {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 700px) {
  #expproList {
    grid-template-columns: 1fr;
  }
}

#expproList > li,
#expproList img {
  transition: transform 0.3s;
}
#expproList > li {
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  position: relative;
}
#expproList > li:hover {
  transform: scale(1.05);
  background-color: rgb(0, 0, 0, 0.3);
  border-radius: 10px;
}

#expproList > li .cats {
  --bg-color: rgba(240, 248, 255, 0.65);

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s, transform 0.3s;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: var(--bg-color);
  color: rgb(35, 39, 41);
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px 10px;
  width: 80%;
}
#expproList > li .cats::after {
  --width: 7px;
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  aspect-ratio: 1 / 1;
  transform: translate(-50%, 100%);

  width: 0;
  height: 0;
  border-left: var(--width) solid transparent;
  border-right: var(--width) solid transparent;

  border-top: var(--width) solid var(--bg-color);
}
#expproList > li:focus .cats,
#expproList > li:hover .cats {
  opacity: 1;
  pointer-events: all;
  transform: translate(-50%, -100%);
}
#expproList > li .cats li:not(:last-child)::after {
  content: "-";
  margin: 5px;
}

#expproList > li > a {
  padding: 25px;
  display: block;
}
#expproList img {
  border-radius: 5px;
  width: 100%;
}
#expproList > li:hover img {
  transform: scale(1.05);
}
/* page contact */
#contactForm {
  max-width: 700px;
  margin: auto;
}
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background-color: rgba(255, 255, 255, 0.5);
  transition: background-color 0.3s, border 0.3s, color 0.3s;
}
input[type="text"]:hover,
select:hover,
textarea:hover {
  background-color: rgba(105, 105, 105, 0.5);
}
input[type="text"]:focus,
select:focus,
textarea:focus {
  background-color: rgba(42, 42, 42, 0.5);
  border-color: rgb(66, 66, 66);
  color: white;
}

input[type="submit"] {
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.35);
  transition: filter 0.3s, transform 0.3s;
}

input[type="submit"]:hover {
  filter: drop-shadow(4px 4px 7px black);
  transform: translateY(-0.25em);
}

/* /SPECIFIQUE */
